::-webkit-scrollbar {
    width: 0px;
}
#FullScreen{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 55px;
    width: 78%;
    margin: auto;
}
.Ficons{
    border: 2px solid yellowgreen;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    color: yellowgreen;
}
#MediumScreen{
    display: none;
}
#SmallScreen{
    display: none;
}
.Sls{
    text-align: center;
    font-size: 50px;
    color: yellowgreen;
}
@media screen and (min-width: 725px) and (max-width: 1180px) {
    #FullScreen{
        display: none;
    }
    #MediumScreen{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding-top: 55px;
        width: 78%;
        margin: auto;
    }
    .Ficons{
        border: 2px solid yellowgreen;
        width: 80px;
        height: 80px;
        border-radius: 10px;
        color: yellowgreen;
    }
    #SmallScreen{
        display: none;
    }

}

@media screen and (min-width: 0px) and (max-width: 725px) {
    #FullScreen{
        display: none;
    }
    #MediumScreen{
        display: none;
    }
    .Ficons{
        border: 2px solid yellowgreen;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        color: yellowgreen;
    }
    #SmallScreen{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding-top: 35px;
        width: 78%;
        margin: auto;
    }
}